.Dictionary form {
  text-align: center;
}

.Dictionary section {
  background-color: rgba(254, 232, 214, 0.97);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 10%);
  margin: 20px 0;
  color: #523e1e;
}

.Dictionary .search-section {
  color: #fee8d6;
}

.Dictionary input {
  width: 60rem;
  padding: 6px 4px;
  border-radius: 8px;
  font-size: 18px;
  background: #54442c;
  color: rgba(254, 232, 214);
  opacity: 90%;
  border: none;
  line-height: 2;
}
input::placeholder {
  color: #ffe8d6;
  font-size: 18px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2.search-title {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  opacity: 80%;
}

section.Photos {
  background: none;
  padding: 30px;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  margin: 20px 0;
  color: white;
}

.Dictionary p {
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  padding: 5px 20px;
  font-size: 20px;
  color: #353535;
}

@media (max-width: 625px) {
  .Dictionary input {
    width: 45rem;
  }
}

@media (max-width: 490px) {
  .Dictionary input {
    width: 35rem;
  }
}

@media (max-width: 375px) {
  .Dictionary input {
    width: 30rem;
  }
}
