.Dictionary form {
  text-align: center;
}

.Dictionary section {
  /* background: rgba(255, 254, 254, 99%); */
  background-color: #302f2f;
  padding: 30px;
  border-radius: 10px;
  /* border: 8px solid #000000; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 10%);
  margin: 20px 0;
  color: white;
}

.Dictionary .search-section {
  color: white;
}

.Dictionary input {
  width: 60rem;
  padding: 6px 4px;
  border-radius: 8px;
  color: grey;
  font-size: 15px;
  /* border: 1px solid #ddd; */
  /* background: rgba(255, 254, 254, 29%); */
  background: #303030;
  border: none;
  line-height: 2;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2.search-title {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  opacity: 80%;
}

section.Photos {
  /* background: rgba(255, 254, 254, 29%); */
  /* background-color: #151515; */
  background: none;
  padding: 30px;
  border-radius: 10px;
  /* border: 8px solid #000000; */
  border: none;
  box-shadow: none;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 10%); */
  margin: 20px 0;
  color: white;
}
