.Dictionary form {
  text-align: center;
}

.Dictionary section {
  background: rgba(255, 254, 254, 29%);
  /* background-color: #567cee; */
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 10%);
  margin: 20px 0;
  color: white;
}

.Dictionary .search-section {
  color: white;
}

.Dictionary input {
  width: 80%;
  padding: 6px 4px;
  border-radius: 8px;
  color: #333;
  /* border: 1px solid #ddd; */
  margin-bottom: 20px;
  background: rgba(255, 254, 254, 29%);
  border: none;
  line-height: 2;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.search-title {
  text-align: center;
}
