.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: capitalize;
}

.Meaning .example {
  font-size: 19px;
  color: #533e1f;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 15px;
}

.Meaning .definition {
  font-size: 19px;
}
