.Phonetic {
  margin: 20px 10px;
}
.Phonetic .icons {
  border: none;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 40px;
  margin-right: 10px;
  margin-bottom: 15px;
  display: inline-block;
  float: left;
}
.Phonetic .icons:hover {
  cursor: pointer;
  color: #fee8d6;
}
.Phonetic .text {
  opacity: 0.6;
  font-weight: bold;
  font-size: 18px;
  display: inline;
}

h2 {
  font-size: 10px;
}
