.Synonyms {
  margin: 15px 0 0;
  padding: 0;
}
.Synonyms span {
  font-size: 15px;
  line-height: 1.5;
  font-weight: bold;
}
.Synonyms li {
  font-size: 15px;
  display: inline-block;
  padding-right: 10px;
  /* color: #fbfbfb; */
  color: #6aa1c5;
  margin-bottom: 15px;
  margin-top: 5px;
}
