.Synonyms {
  margin: 15px 0 0;
  padding: 0;
}
.Synonyms span {
  font-size: 12px;
  line-height: 1;
}
.Synonyms li {
  font-size: 14px;
  display: inline-block;
  padding-right: 10px;
  line-height: 1.5;
  /* color: #fbfbfb; */
  color: #6aa1c5;
  margin-bottom: 10px;
}
